---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "outline" | "primary" | "inverted";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-5 py-2.5",
  lg: "px-6 py-3",
};

const styles = {
  outline: "bg-transparent text-brutal-text hover:bg-brutal-primary/20",
  primary: "bg-brutal-primary text-brutal-text hover:brightness-95",
  inverted: "bg-brutal-text text-brutal-bg hover:brightness-110",
};
---

<button
  {...rest}
  class:list={[
    "brutal-btn text-center text-sm font-extrabold transition-all focus-visible:ring-2 ring-offset-2 ring-brutal-border",
    block && "w-full",
    sizes[size],
    styles[style],
    className,
  ]}
  ><slot /></button>
